.auth-signup
  - if invite[:token]
    %p.y-margin{:style => 'text-align:center'}
      - if invite[:expired]
        = t(:'auth/signup/invite/expired')

      - elsif !invite[:valid]
        = t(:'auth/signup/invite/invalid')

      - else
        = t(:'auth/signup/invite/ok', :short => invite[:short])

  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

    .pure-g
      .pure-u-1.pure-u-md-1-2
        .x-margin
          %label{:for => "first_name"}= t(:'name/first')
          %input#first_name{:type => 'text', :name => 'first_name', :required => true, :placeholder => t(:'name/first')}
      .pure-u-1.pure-u-md-1-2
        .x-margin
          %label{:for => "last_name"}= t(:'name/last')
          %input#last_name{:type => 'text', :name => 'last_name', :required => true, :placeholder => t(:'name/last')}

    - if ReConnect.app_config['signup-age-gate-enabled']
      %label{:for => "age_verify"}= t(:'auth/signup/age_gate')
      %input#age_verify{:type => 'date', :name => 'age_verify', :required => true}

    %label{:for => "email"}= t(:'email_address')
    %input#email{:name => 'email', :type => 'email', :placeholder => t(:'email_address'), :required => true}

    %label{:for => "password"}= t(:'password')
    %input#password{:name => 'password', :type => 'password', :placeholder => t(:'password'), :required => true}

    %label{:for => "password_confirm"}= t(:'password/confirm')
    %input#password_confirm{:name => 'password_confirm', :type => 'password', :placeholder => t(:'password/confirm'), :required => true}

    %button.pure-button.button.button-primary{:type => 'submit'}= t(:'auth/signup/title')
