.penpal-view-correspondence
  %h1= title

  %a.pure-button.button{:href => url("/penpal/#{penpal.id}")}
    %i.fa.fa-chevron-left
    = t(:'back')

  .form-wrapped
    %p
      - if correspondence_d[:this_user_sent]
        = t(:'penpal/view/correspondence/single/content/sent', :name => penpal_name, :date => correspondence_d[:creation])

      - else
        = t(:'penpal/view/correspondence/single/content/received', :name => penpal_name, :date => correspondence_d[:creation])

    - unless file_d[:display_html]
      %a.pure-button.button.button-primary{:href => url("/penpal/#{penpal.id}/correspondence/#{correspondence_d[:id]}/download")}
        %i.fa.fa-download
        = t(:'penpal/view/correspondence/single/download')

    - if !correspondence_d[:this_user_sent]
      - if correspondence_d[:actioned]
        %a.pure-button.button.button{:href => url("/penpal/#{penpal.id}/correspondence/#{correspondence_d[:id]}/mark")}
          %i.fa.fa-check
          = t(:'penpal/view/correspondence/single/mark/unread')

      - else
        %a.pure-button.button.button-success{:href => url("/penpal/#{penpal.id}/correspondence/#{correspondence_d[:id]}/mark")}
          %i.fa.fa-check
          = t(:'penpal/view/correspondence/single/mark/read')

  - if file_d[:display_html]
    .form-wrapped
      %h1= t(:'penpal/view/correspondence/single/content_view')

      .correspondence-html.rich-text-container
        = file_d[:html_content]

  - if settings.development? || has_role?("system:debugging")
    .page-footer.y-margin-large
      %ul.inline-list
        %li
          &= "file id #{correspondence.file_id.inspect}"
          - if correspondence.file_id
            %a{:href => to("/system/files/#{correspondence.file_id}")}
              %i.fa.fa-link= ""

        %li
          &= "sent #{correspondence.sent.inspect}"

        %li
          &= "actioning user #{correspondence.actioning_user.inspect}"
          - if correspondence.actioning_user
            %a{:href => to("/system/user/#{correspondence.actioning_user}")}
              %i.fa.fa-link= ""
