.x-margin
{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.y-margin
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.xy-margin
{
  @extend .x-margin;
  @extend .y-margin;
}

.x-margin-large
{
  margin-left: 1em;
  margin-right: 1em;
}

.y-margin-large
{
  margin-top: 1em;
  margin-bottom: 1em;
}

.xy-margin-large
{
  @extend .x-margin-large;
  @extend .y-margin-large;
}

.code-line
{
  margin: 0.125em;
  padding: 0.25em 0.375em;

  color: $color_codeline_fg;
  background: $color_codeline_bg;
  border: 1px solid $color_codeline_border;

  border-radius: 2px;
}

.dotted-underline
{
  border-bottom: 1px dotted #000;
}

.center
{
  text-align: center;
}

.inline-form
{
  display: inline-block;
}

.inline-list
{
  display: block;
  list-style: none outside none;
  margin: 0;
  padding: 0;

  li
  {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;

    &:not(:last-child):after
    {
      content: ' \00b7 ';
    }
  }
}
