$font_stack: sans-serif;

/* Symbolic colors */
$color_symbolic_primary_fg: #fff;
$color_symbolic_primary_bg: #0078e7;
$color_symbolic_primary_border: #0078e7;

$color_symbolic_success_bg: #0b0;
$color_symbolic_success_fg: #dfb;
$color_symbolic_success_border: #12e512;

$color_symbolic_warning_bg: #fec;
$color_symbolic_warning_fg: #860;
$color_symbolic_warning_border: #fea;

$color_symbolic_error_bg: #b00;
$color_symbolic_error_fg: #fcc;
$color_symbolic_error_border: #e51212;

/* Generic body colors */
$color_body_fg: #000;
$color_body_bg: #fff;
$color_dimmed_fg: #888;
$color_dimmed_bg: $color_body_bg;

/* Body header */
$color_body_header_fg: #000;
$color_body_header_bg: #efefef;
$color_body_header_border: #bbb;
$color_body_header_navbar_hover_border: $color_symbolic_primary_bg;
$color_body_header_navbar_selected_border: $color_symbolic_primary_bg;

/* Warnings */
$color_warning_unspecified_fg: #000;
$color_warning_unspecified_bg: #888;
$color_warning_unspecified_border: #000;

$color_warning_maintenance_fg: $color_symbolic_error_fg;
$color_warning_maintenance_bg: $color_symbolic_error_bg;
$color_warning_maintenance_border: $color_symbolic_error_border;

$color_warning_appconfig_refresh_fg: $color_symbolic_warning_fg;
$color_warning_appconfig_refresh_bg: $color_symbolic_warning_bg;
$color_warning_appconfig_refresh_border: $color_symbolic_warning_border;

$color_warning_system_penpal_copied_link_fg: $color_symbolic_success_fg;
$color_warning_system_penpal_copied_link_bg: $color_symbolic_success_bg;
$color_warning_system_penpal_copied_link_border: $color_symbolic_success_border;

$color_warning_announcement_fg: $color_symbolic_success_fg;
$color_warning_announcement_bg: $color_symbolic_success_bg;
$color_warning_announcement_border: $color_symbolic_success_border;

/* Miscellaneous things */
$color_codeline_fg: #000;
$color_codeline_bg: #ddd;
$color_codeline_border: #888;

/* Blockquote stuff */
$blockquote_quote_color: $color_dimmed_fg;
$blockquote_left_margin: 1em;
$blockquote_left_border: 6px solid $blockquote_quote_color;

