.system-admin-configuration-keyvalue-list
  %h1= title

  %a.pure-button.button{:href => '/system/configuration'}
    %i.fa.fa-chevron-left
    = t :back

  .form-wrapped
    %h1= t(:'system/configuration/key_value/keys/section_title')

    %ul.block-list
      - entries.each do |k, v|
        %li
          - if has_role?("system:configuration:edit")
            .block-form
              %a.block-button.pure-button.button{:href => v[:edit_link], :title => t(:edit)}
                %i.fa.fa-pencil

          %span
            %strong= k
            = "(#{v[:type]}): "

          %code.code-line
            &= v[:value_truncated]

  %form.pure-form.pure-form-stacked.form-wrapped{:method => "GET", :action => url("/system/configuration/keys/new-key")}
    %h1= t(:'system/configuration/key_value/new_key/section_title')

    %label{:for => 'key_name'}= t(:'system/configuration/key_value/new_key/key_name')
    %input#key_name{:name => 'key', :type => 'text', :required => true, :placeholder => t(:'system/configuration/key_value/new_key/key_name')}

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-plus
      = t(:'system/configuration/key_value/new_key/submit')

