.system-admin-user-edit-profile
  %h1= title

  %a.pure-button.button{:href => "/system/user/#{user.id}"}
    %i.fa.fa-chevron-left
    = t(:'back')

  %form.pure-form.pure-form-stacked.form-wrapped{:method => "POST"}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'system/user/edit_profile/section_title')

    .pure-g
      .pure-u-1.pure-u-md-1-2
        .x-margin
          %label{:for => "edit_first_name"}= t(:'name/first')
          %input#edit_first_name{:type => 'text', :name => 'first_name', :required => true, :placeholder => t(:'name/first'), :value => user_name_a.first}
      .pure-u-1.pure-u-md-1-2
        .x-margin
          %label{:for => "edit_last_name"}= t(:'name/last')
          %input#edit_last_name{:type => 'text', :name => 'last_name', :required => true, :placeholder => t(:'name/last'), :value => user_name_a.last}

    %label{:for => "edit_pseudonym"}= t(:'pseudonym')
    %input#edit_pseudonym{:type => 'text', :name => 'pseudonym', :required => false, :placeholder => t(:'pseudonym'), :value => user_pseudonym_r}

    %label{:for => "edit_email"}= t(:'email_address')
    %input#edit_email{:type => 'email', :name => 'email', :required => true, :placeholder => t(:'email_address'), :value => user_email}

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-pencil
      = t(:'save_changes')
