.system-admin-user-edit-groups
  %h1= title

  %a.pure-button.button{:href => "/system/user/#{user.id}"}
    %i.fa.fa-chevron-left
    = t(:'back')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/user/groups/available/section_title')

        - if groups[:available].empty?
          .message.message-warning
            = t(:'system/user/groups/available/none')

        - else
          %table.pure-table.pure-table-bordered.pure-table-striped
            %thead
              %tr
                %th= ""
                %th= t(:'group_name')
                %th= ""

            %tbody
              - groups[:available].each do |group|
                %tr
                  %td
                    - if group[:requires_2fa]
                      %span{:title => t(:'system/user/groups/requires_2fa')}
                        %i.fa.fa-lock= ""

                  %td
                    &= group[:name]

                  %td
                    %form{:method => 'POST', :action => url("/system/user/#{user.id}/groups/add"), :style => 'display:inline-block'}
                      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                      %input{:type => 'hidden', :name => 'group', :value => group[:id]}

                      %button.pure-button.button{:type => 'submit', :style => 'margin:0 !important', :disabled => group[:requires_2fa] ? !totp_enabled : false}
                        %i.fa.fa-plus= ""
                        = t(:'system/user/groups/available/submit')

    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/user/groups/assigned/section_title')

        - if groups[:assigned].empty?
          .message.message-warning
            = t(:'system/user/groups/assigned/none')

        - else
          %table.pure-table.pure-table-bordered.pure-table-striped
            %thead
              %tr
                %th= ""
                %th= t(:'group_name')
                %th= ""

            %tbody
              - groups[:assigned].each do |group|
                %tr
                  %td
                    - if group[:requires_2fa]
                      - if totp_enabled
                        %span{:title => t(:'system/user/groups/requires_2fa')}
                          %i.fa.fa-lock= ""

                      - else
                        %span.message.message-error{:title => t(:'system/user/groups/requires_2fa/not_enabled')}
                          %i.fa.fa-warning= ""
                          %i.fa.fa-lock= ""
                  %td
                    &= group[:name]

                  %td
                    %form{:method => 'POST', :action => url("/system/user/#{user.id}/groups/remove"), :style => 'display:inline-block'}
                      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
                      %input{:type => 'hidden', :name => 'ugid', :value => group[:ids][:ug]}

                      %button.pure-button.button.button-error{:type => 'submit', :style => 'margin:0 !important'}
                        %i.fa.fa-trash= ""
                        = t(:'system/user/groups/assigned/submit')

