.system-admin-user-index
  %h1= title

  %a.pure-button.button.button-success{:href => to("/system/user/create")}
    %i.fa.fa-user-plus
    = t(:'system/user/create/title')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST', :action => '/system/user/by-id'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %h1= t(:'system/user/find_by_id')

        %label{:for => 'user_id'}= t(:'user_id')
        %input#user_id{:type => 'number', :name => 'id', :required => true, :placeholder => t(:user_id)}

        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-search= ""
          = t(:search)

    .pure-u-1.pure-u-md-1-2
      %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST', :action => '/system/user/by-email'}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %h1= t(:'system/user/find_by_email')

        %label{:for => 'user_email'}= t(:'email_address')
        %input#user_email{:type => 'email', :name => 'email', :required => true, :placeholder => t(:email_address)}

        %button.pure-button.button.button-primary{:type => 'submit'}
          %i.fa.fa-search= ""
          = t(:search)

    - if has_role?('system:user:invite')
      .pure-u-1.pure-u-md-1-2
        %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST', :action => '/system/user/create-invite'}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %h1= t(:'system/user/create_invite/title')

          %label{:for => "invite_expiry"}= t(:'system/user/create_invite/expiry')
          %input#invite_expiry{:name => 'expiry', :type => 'text', :value => 'in 1 day', :placeholder => t(:'system/user/create_invite/expiry')}

          %button.pure-button.button.button-primary{:type => 'submit'}
            %i.fa.fa-id-badge= ""
            = t(:'system/user/create_invite/submit')

    - if has_role?('system:user:roles')
      .pure-u-1.pure-u-md-1-2
        %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => 'POST', :action => '/system/user/by-role'}
          %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
          %h1= t(:'system/user/by_role/title')

          %label{:for => "role_search"}= t(:'system/user/by_role/role_label')
          %input#role_search{:name => 'role', :type => 'text', :value => '*', :placeholder => t(:'system/user/by_role/role_label')}

          %button.pure-button.button.button-primary{:type => 'submit'}
            %i.fa.fa-search= ""
            = t(:'system/user/by_role/submit')
