.system-admin-user-view
  %h1= title

  %a.pure-button.button{:href => '/system/user'}
    %i.fa.fa-chevron-left
    = t(:'new_search')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/user/view/user_info')

        %ul
          - display_fields.each do |d|
            %li
              %strong= "#{d.first}:"
              %span
                &= d.last

    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/user/actions')

        - if has_role?("system:user:edit")
          %a.pure-button.button{:href => "/system/user/#{user.id}/edit-profile"}
            %i.fa.fa-pencil= ""
            = t(:'system/user/actions/edit_profile')

        - if has_role?("system:penpal:access") && penpal_obj
          %a.pure-button.button{:href => "/system/user/#{user.id}/penpal-obj"}
            %i.fa.fa-user= ""
            = t(:'system/user/actions/jump_to_penpal')

        - elsif has_role?('system:user:association') && penpal_obj.nil?
          %a.pure-button.button{:href => "/system/user/#{user.id}/penpal-obj"}
            %i.fa.fa-plus= ""
            = t(:'system/user/actions/create_penpal_obj')

        - if has_role?("system:user:groups")
          %a.pure-button.button{:href => "/system/user/#{user.id}/groups"}
            %i.fa.fa-group= ""
            = t(:'system/user/actions/groups')

        - if has_role?("system:user:roles")
          %a.pure-button.button{:href => "/system/user/#{user.id}/roles"}
            %i.fa.fa-list-alt= ""
            = t(:'system/user/actions/roles')

        - if has_role?("system:user:auth_options")
          %a.pure-button.button.button-warning{:href => "/system/user/#{user.id}/auth"}
            %i.fa.fa-lock= ""
            = t(:'system/user/actions/auth_options')

        - if has_role?("system:user:disable")
          %a.pure-button.button.button-error{:href => "/system/user/#{user.id}/disable"}
            %i.fa.fa-remove= ""
            = t(:'system/user/actions/disable_delete')
