.system-admin-mass-email
  %h1= title

  .form-wrapped
    %h1= t(:'system/mass_email/sent/section_title')

    - if penpal
      %p
        = t(:'system/mass_email/sent/to_penpal', penpal)

    %p= t(:'system/mass_email/sent/content', :queue_id => queue_id)

    %a.pure-button.button.button-primary{:href => url("/system/mass-email")}
      = t(:'system/mass_email/sent/again')
