.system-admin-debugging
  %h1= t(:'system/debugging/title')

  %a.pure-button.button{:href => '/system/debugging/routes'}
    %i.fa.fa-list-alt
    = t(:'system/debugging/routes/title')

  %code.code-line
    &= "SITE_DIR => #{site_dir}"

  .form-wrapped
    %h1= t(:'system/debugging/session')

    %ul.block-list
      - session.keys.each do |skey|
        %li
          .y-margin-large
            %code.code-line
              &= skey.inspect

            = "=>"

            %code.code-line
              &= session[skey].inspect

  .form-wrapped
    %h1= t(:'system/debugging/app_config')

    %ul.block-list
      - app_config.keys.each do |skey|
        %li
          .y-margin-large
            %code.code-line
              &= skey.inspect

            = "=>"

            %code.code-line
              &= app_config[skey].inspect

  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => '/system/debugging/flash'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'system/debugging/flash/title')

    %label{:for => 'flash-type'}= t(:'system/debugging/flash/type')
    %select#flash-type{:name => 'type'}
      %option{:value => 'success'}= t(:'system/debugging/flash/type/success')
      %option{:value => 'warning'}= t(:'system/debugging/flash/type/warning')
      %option{:value => 'error'}= t(:'system/debugging/flash/type/error')

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-comment
      = t(:'system/debugging/flash/submit')

  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => '/system/debugging/email'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'system/debugging/email/title')

    %p
      = t(:'system/debugging/email/content', :address => current_user.email)

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-envelope
      = t(:'system/debugging/email/submit')

  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => '/system/debugging/filter-refresh'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'system/debugging/filter_refresh/title')

    %p
      = t(:'system/debugging/filter_refresh/content')

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-list
      = t(:'system/debugging/filter_refresh/submit')

  %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST', :action => '/system/debugging/error-pls'}
    %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
    %h1= t(:'system/debugging/error_pls/title')

    %p
      = t(:'system/debugging/error_pls/content')

    %button.pure-button.button.button-primary{:type => 'submit'}
      %i.fa.fa-times-circle
      = t(:'system/debugging/error_pls/submit')
