.account-settings-container
  .pure-g
    .pure-u-1.pure-u-md-1-4
      .sidebar-menu.pure-menu
        %ul.pure-menu-list
          %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current?("/account"))].compact}
            %a.pure-menu-link.sidebar-menu-link{:href => '/account'}
              = t :'account/title'

          %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current_prefix?("/account/twofactor"))].compact}
            %a.pure-menu-link.sidebar-menu-link{:href => '/account/twofactor'}
              = t :'account/twofactor'

    .pure-u-1.pure-u-md-3-4
      = yield
