.system-admin-penpal-relationship-index
  %h1= title

  - if has_role?('system:penpal:relationship:confirm') && !relationship.confirmed
    %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => "POST", :action => url("/system/penpal/relationship/#{relationship.id}/confirm")}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
      %h1= t(:'system/penpal/relationships/confirm/section_title')

      %p
        = t(:'system/penpal/relationships/confirm/content')

      %button.pure-button.button.button-success{:type => 'submit'}
        %i.fa.fa-check
        = t(:'system/penpal/relationships/confirm/submit')

  .pure-g
    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/penpal/relationships/penpal/one')

        - if penpal_one
          = haml :'system/penpal/relationship/penpal_data', :locals => {:penpal => penpal_one}
        - else
          = t(:'system/penpal/relationships/penpal/no_data')

      .form-wrapped.x-margin
        %h1= t(:'system/penpal/relationships/penpal/two')

        - if penpal_two
          = haml :'system/penpal/relationship/penpal_data', :locals => {:penpal => penpal_two}
        - else
          = t(:'system/penpal/relationships/penpal/no_data')

    .pure-u-1.pure-u-md-1-2
      .form-wrapped.x-margin
        %h1= t(:'system/penpal/relationships/stats/section_title')

        %ul
          %li= t(:'system/penpal/relationships/stats/correspondence_count', :count => correspondence[:count])
          %li
            - if correspondence[:last]
              = t(:'system/penpal/relationships/stats/last_correspondence', :date => correspondence[:last], :relative => pretty_time(correspondence[:last]))
            - else
              = t(:'system/penpal/relationships/stats/last_correspondence/unknown')


      %form.pure-form.pure-form-stacked.form-wrapped.x-margin{:method => "POST", :action => url("/system/penpal/relationship/#{relationship.id}/notes")}
        %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}
        %h1= t(:'system/penpal/relationships/notes/section_title')

        %textarea#relationship_notes{:name => "notes"}
          &= notes

        %button.pure-button.button{:type => 'submit'}
          %i.fa.fa-pencil
          = t(:'system/penpal/relationships/notes/submit')

      .form-wrapped.x-margin
        %h1= t(:'system/penpal/relationships/email_approve/section_title')
        %p= t(:'system/penpal/relationships/email_approve/content')

        - if email_approved[:approved]
          - if email_approved[:by]
            %p= t(:'system/penpal/relationships/email_approve/approved_by', :name => email_approved[:by][:name], :id => email_approved[:by][:id])

        - if has_role?('system:penpal:relationship:email_approve')
          - if email_approved[:approved]
            %a.pure-button.button.button-warning{:href => url("/system/penpal/relationship/#{relationship.id}/email-approve")}
              %i.fa.fa-times
              = t(:'system/penpal/relationships/email_approve/revoke')

          - else
            %a.pure-button.button.button-success{:href => url("/system/penpal/relationship/#{relationship.id}/email-approve")}
              %i.fa.fa-check
              = t(:'system/penpal/relationships/email_approve/approve')

      .form-wrapped.x-margin
        %h1= t(:'system/penpal/relationships/actions')

        - if has_role?('system:penpal:relationship:correspondence:access')
          %a.pure-button.button{:href => "/system/penpal/relationship/#{relationship.id}/correspondence"}
            %i.fa.fa-list
            = t(:'system/penpal/relationships/actions/view_correspondence')

        - if has_role?('system:penpal:relationship:delete')
          %a.pure-button.button.button-error{:href => "/system/penpal/relationship/#{relationship.id}/delete"}
            %i.fa.fa-trash
            = t(:'system/penpal/relationships/actions/delete')
