.system-admin-container
  .pure-g
    .pure-u-1.pure-u-md-1-4
      .sidebar-menu.pure-menu
        %ul.pure-menu-list
          %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current?("/system"))].compact}
            %a.pure-menu-link.sidebar-menu-link{:href => '/system'}
              = t :'system/index/title'

          - if has_role?("system:prison:access")
            %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current_prefix?("/system/prison"))].compact}
              %a.pure-menu-link.sidebar-menu-link{:href => '/system/prison'}
                = t :'system/prison/title'

          - if has_role?("system:user:access")
            %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current_prefix?("/system/user"))].compact}
              %a.pure-menu-link.sidebar-menu-link{:href => '/system/user'}
                = t :'system/user/title'

          - if has_role?("system:penpal:access")
            %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current_prefix?("/system/penpal"))].compact}
              %a.pure-menu-link.sidebar-menu-link{:href => '/system/penpal'}
                = t :'system/penpal/title'

          - if has_role?("system:group:access")
            %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current_prefix?("/system/group"))].compact}
              %a.pure-menu-link.sidebar-menu-link{:href => '/system/group'}
                = t :'system/group/title'

          - if has_role?("system:mass_email")
            %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current_prefix?("/system/mass-email"))].compact}
              %a.pure-menu-link.sidebar-menu-link{:href => '/system/mass-email'}
                = t :'system/mass_email/title'

          - if has_role?("system:files:access")
            %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current_prefix?("/system/files"))].compact}
              %a.pure-menu-link.sidebar-menu-link{:href => '/system/files'}
                = t :'system/files/title'

          - if has_role?("system:configuration:access")
            %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current_prefix?("/system/configuration"))].compact}
              %a.pure-menu-link.sidebar-menu-link{:href => '/system/configuration'}
                = t :'system/configuration/title'

          - if has_role?("system:debugging")
            %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current_prefix?("/system/debugging"))].compact}
              %a.pure-menu-link.sidebar-menu-link{:href => '/system/debugging'}
                = t :'system/debugging/title'

          - if has_role?("system:job_queue")
            %li.pure-menu-item.sidebar-menu-item{:class => [("pure-menu-selected" if current_prefix?("/system/jobqueue"))].compact}
              %a.pure-menu-link.sidebar-menu-link{:href => '/system/jobqueue'}
                = t :'system/job_queue/title'

    .pure-u-1.pure-u-md-3-4
      = yield
