!!!html
%html
  %head
    = haml :layout_head, :layout => false, :locals => {:title => title}

  %body
    = haml :'warnings/index', :layout => false
    = haml :header, :layout => false

    .body-container
      = render_flashes unless defined?(no_flash) && no_flash
      = yield

    = haml :footer, :layout => false

    %script{:src => "/static/bundle.js"}
