.auth-login-twofactor
  .form-wrapped
    %h1= title

    %form.pure-form.pure-form-stacked.form-wrapped{:method => 'POST'}
      %input{:type => 'hidden', :name => '_csrf', :value => session[:csrf]}

      %p
        = t(:'auth/login/twofactor/enter_code')

      %label{:for => "totp"}= t(:'auth/login/twofactor/code')
      %input#totp{:name => 'totp_code', :type => 'number', :required => true, :placeholder => t(:'auth/login/twofactor/code')}

      %button.pure-button.button.button-primary{:type => 'submit'}
        = t(:'auth/login/title')

      .auth-twofactor-options
        %a{:href => to('/auth/twofactor/recovery')}
          = t(:'auth/login/twofactor/actions/use_recovery')
